<nb-card [nbSpinner]="loadingIndicator" nbSpinnerStatus="danger">
  <nb-card-header class="header text-center">
    <h2>Add Catalog form</h2>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addCatalogForm">
      <div class="input-group mb-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend" ngbDropdown>
            <button class="btn btn btn-outline-primary dropdown-toggle dropdown-width" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu1"
              ngbDropdownToggle>Choose catalog name</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
              <button class="dropdown-item" *ngFor="let catalog of catalogNameList"
                (click)="onDropDownSelect(catalog.name)">{{catalog.name}}</button>
            </div>
          </div>
          <input formControlName="name" type="text" class="form-control" aria-label="Text input with dropdown button"
            [ngModel]="searchValue" (ngModelChange)="searchTextChanged($event)">
        </div>
      </div>
      <div class="form-group">
        <label for="minimumAmount">Minimum amount</label>
        <input type="text" class="form-control" id="minimumAmount" placeholder="Minimum amount"
          formControlName="minimumAmount">
      </div>
      <div class="form-group">
        <label for="maximumAmount">Maximum amount</label>
        <input type="text" class="form-control" id="maximumAmount" placeholder="Maximum amount"
          formControlName="maximumAmount">
      </div>
      <div class="form-group">
        <label for="currentAmount">Current amount</label>
        <input type="number" class="form-control" id="currentAmount" placeholder="Current amount"
          formControlName="currentAmount">
      </div>
      <div class="form-group">
        <label for="productPrice">Product price</label>
        <input type="number" class="form-control" id="productPrice" placeholder="Product price per one"
          formControlName="productPrice">
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button nbButton type="submit" status="success" class="btn btn-danger "
            (click)="addCatalogToWarehouse()">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center close-button">
          <button nbButton outline status="danger" (click)="close()">
            CLOSE
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>