<i class="fas fa-long-arrow-alt-left fa-2x icon-add"
  [routerLink]="['/pages/warehouse/details/', specificWarehouseId]">Iepriekšējā lapa</i>
<nb-card>
  <nb-card-header class="row-with-btns">
    <p>Notikumi</p>
    <button nbButton [nbPopover]="datePicker"> Datuma diapazons</button>
    <ng-template #datePicker>

      <div style="padding-top: 10px;" class="date-picker-wrapper">
        <select style="height: 30px" (change)="selectOption($event.target.value)" class="custom-select date-picker"
          [(ngModel)]="selectedValue" name="time" id="timeline" selected>
          <option *ngFor="let option of selectValues" [value]="option">{{option}}</option>
        </select>
        <nb-calendar-range *ngIf="userRole !== regularUserRole" [(range)]="range"
          (rangeChange)="handleRangeChange($event)">
        </nb-calendar-range>
        <nb-calendar-range *ngIf="userRole === regularUserRole" [(range)]="range" [min]="min" [max]="max"
          (rangeChange)="handleRangeChange($event)">
        </nb-calendar-range>
      </div>

    </ng-template>

    <i class="fas fa-shopping-bag fa-2x icon-add" *ngIf="lookingAtAllChanges && userRole != regularUserRole"
      [ngClass]="{'icon-add':lookingAtAllChanges,'problem-icon':!lookingAtAllChanges }"
      (click)="toggleLookingAtAllFlag()">Visi notikumi</i>
    <i class="fas fa-shopping-bag fa-2x icon-add" *ngIf="!lookingAtAllChanges && userRole != regularUserRole"
      [ngClass]="{'icon-add':lookingAtAllChanges,'problem-icon':!lookingAtAllChanges }"
      (click)="toggleLookingAtAllFlag()">Mani notikumi</i>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settingsForRegularuser" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>