@media only screen and (max-width: 576px) {
    .date-picker{
      max-width: 100%;
    }

    .nb-theme-corporate nb-base-calendar.medium nb-card{
        width: 100% !important;
    }
  }

.date-picker{
    width: 21.875rem;
    margin-bottom: 5px;
}
.date-picker-wrapper{
    margin-bottom: 15px
}
.row-with-btns {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-add {
  color: dodgerblue;
  &:hover {
    text-shadow: 3px 3px 16px  dodgerblue;
    cursor: pointer;
  }
}
.problem-icon {
  color: red;
  &:hover {
    cursor: pointer;
  }  
}