@import '../../../../@theme/styles/styles.scss';


  
  img {
    max-width: 100%;
    height: 350px;
  }
  

  
  .card {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
      0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;
    
    &__image-container {
      margin: -2rem -2rem 1rem -2rem;
    }
    
    &__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;

    }
  
    &__image {
      opacity: 0;
      animation: ImageFadeIn .8s 1.4s forwards;
    }
  
    &__title {
      color: black;
      margin-top: 0;
      font-weight: 800;
      letter-spacing: 0.01em;
    }
    
    &__content {
      margin-top: -1rem;
      opacity: 0;
      animation: ContentFadeIn .8s 1.6s forwards;
    }
    
    &__svg {
      position: absolute;
      left: 0;
      top: 115px;
      padding-top: 50px;
    }
  }
  

  
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
  .qr-code {
    height: 100%;
  }
  .arrow-icon {
    &:hover {
        text-shadow: 3px 3px 16px  rgb(148, 151, 155);
        cursor: pointer;
      }
  }
  .download-qr {
      padding-top: 30px;
      &:hover {
        text-shadow: 3px 3px 16px  rgb(148, 151, 155);
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: rgb(148, 151, 155);
      }
  }
  .row-with-btns {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon-add {
    color: dodgerblue;
    &:hover {
      text-shadow: 3px 3px 16px  dodgerblue;
      cursor: pointer;
    }
  }
  .problem-icon {
    color: red;
    &:hover {
      cursor: pointer;
    }  
  }

  .resolve-icon {
    color: #00ff00;
    &:hover {
      text-shadow: 3px 3px 16px  #00ff00;
      cursor: pointer;
    }
  }
  .icon-detail {
    &:hover {
      color: #ffa100;
      text-shadow: 3px 3px 16px  #ffa100;
      cursor: pointer;
    }
  }
  .width-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
  }
  :host /deep/ .customformat{ text-align: right; } 

  .top-info-block{
    width: 48%;
  }

  .info-top-container{
    max-height: 500px;
  }

  .left-side-card-info{
    width: 69%;
    float: left;
  }

  .right-side-card-info{
    width: 30%;
    float: right;
    text-align: center;
    img{
      height: auto;
    }
    button{
      font-size: 11px;

    }
  }

  .info-image-container{
    height: 300px;
    overflow: hidden;
  }

  .list-buttons{
    display: flex;
    justify-content: space-between;
  }

  .info-bottoms-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .card__image{
      height: auto;
    }
    .card{
      border: 0;
    }
  }    
  
  @keyframes LineFadeIn {
    0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
    50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
    100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
  }
  
  @keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
  }

  @media only screen and (max-width: 992px) {
    
    .info-bottoms-container{
      display: block;
      justify-content: initial;
    }   
    
    .top-info-block{
      width: 100%;
      margin-bottom: 50px;
    }

    .list-card{
      max-height: 450px;
    }

    .info-top-container{
      max-height: initial;
      display: block;
      justify-content: initial;
    }
  }


  @media only screen and (max-width: 575px) {
    .top-info-block{
      .list-button{
        max-width: 28px;
      }
      .info-image-container{
        height: 200px;
        overflow: hidden;
      }
      .right-side-card-info{
        button{ 
          padding: 6px 5px;
        }
      }
      .card-top-fixed{
        padding: 8px;
      }
    }
  }

  