<div class="row" *ngIf="addOrRemove">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Add products</nb-card-header>
      <nb-card-body>
        <form [formGroup]="editCatalogForm" class="form-inline">
          <input type="text" class="form-control" id="name" placeholder="Current amount"
            formControlName="currentAmount">
          <p class="text-max" (click)="addMaximumAmount()">MAX</p>
          <button *ngIf="addingObjectToCatalogFromBasket" type="submit" class="btn btn-primary"
            (click)="submitToAddProductsToCatalogFromBasket()">Submit</button>
          <button *ngIf="!addingObjectToCatalogFromBasket" type="submit" class="btn btn-primary"
            (click)="submitToAddProductsToCatalogFromBasket()">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="!addOrRemove">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Remove products</nb-card-header>
      <nb-card-body>
        <form [formGroup]="editCatalogForm" class="form-inline">
          <input type="text" class="form-control" id="name" placeholder="Current amount"
            formControlName="currentAmount">
          <p class="text-max" (click)="removeMinimumAmount()"
            *ngIf="catalogToEdit.currentAmount>catalogToEdit.minimumAmount && addingObjectToCatalogFromBasket">MIN</p>
          <p class="text-max" (click)="removeAllAmount()">ALL</p>
          <button *ngIf="addingObjectToCatalogFromBasket" type="submit" class="btn btn-primary"
            (click)="submitToAddProductsInBasket()">Submit</button>
          <button *ngIf="!addingObjectToCatalogFromBasket" type="submit" class="btn btn-primary"
            (click)="submitToAddProductsInBasket()">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>