<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Atvainojiet, jums nav piekļuves šai lapai</h2>
          <small class="sub-title">Tā lapa, kuru jūs meklējāt, neļauj lietotājam apskatīt šo lapu ar jūsu līmenī</small>
          <button (click)="goToHome()" type="button" class="btn btn-block btn-hero-primary">
            Pāriet mājās
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>