<div id="bg">
  <img src="./assets/images/warehouse1.jpg" alt="">
</div>
<!-- <div class="container container-padding">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <nb-card>
        <nb-card-header>
          <h1 id="title" class="title">Login in to account</h1>
          <nb-alert *ngIf="errorMessage" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
              <li class="alert-message">{{ errorMessage }}</li>
            </ul>
          </nb-alert>
          <nb-alert *ngIf="successMessage" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
              <li * class="alert-message">{{ successMessage }}</li>
            </ul>
          </nb-alert>
        </nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="loginUser()" [formGroup]="loginForm" aria-labelledby="title" [nbSpinner]="loadingIndicator"
            nbSpinnerStatus="danger">
            <div class="form-control-group">
              <label class="label" for="input-email">Email address:</label>
              <input nbInput formControlName="email" class="form-control" id="input-email" name="email"
                pattern=".+@.+..+" placeholder="Email address" fullWidth required>
              <label class="text-danger"
                *ngIf="loginForm.controls['email'].errors.email && loginForm.controls['email'].touched">Email
                is not valid</label>
              <label class="text-danger"
                *ngIf="loginForm.controls['email'].errors.required && loginForm.controls['email'].touched">Email
                is required</label>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-password">Password:</label>
              <input nbInput formControlName="password" class="form-control" type="password" id="input-password"
                name="password" placeholder="password" fullWidth required>
              <label class="text-danger"
                *ngIf="loginForm.controls['password'].errors.required && loginForm.controls['password'].touched">Password
                is required</label>
            </div>
            <div class="row" class="submit-btn">
              <button nbButton fullWidth status="success">
                Login
              </button>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div> -->

<div class="container container-padding">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Pieslegties </h2>



      <!-- Login Form -->
      <form (ngSubmit)="loginUser()" [formGroup]="loginForm" aria-labelledby="title" [nbSpinner]="loadingIndicator"
        nbSpinnerStatus="danger">
        <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"> -->
        <input type="text" class="fadeIn second" formControlName="email" id="input-email" name="email"
          placeholder="Email address">
        <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
          <div [hidden]="!loginForm.controls['email'].errors.required"><span class="text-danger">E-pasts ir
              nepieciešams</span></div>
          <div [hidden]="!loginForm.controls['email'].errors.email"><span class="text-danger">E-pasts nav
              derīgs</span></div>
        </div>
        <input type="password" formControlName="password" class="fadeIn second" placeholder="Parole">
        <button type="submit" class="fadeIn fourth">Pieslegties</button>

      </form>
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->

    </div>
  </div>
</div>