<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <nb-card>
        <nb-card-header>
          <h1 id="title" class="title">Register employee</h1>
          <nb-alert *ngIf="errorMessage" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
              <li class="alert-message">{{ errorMessage }}</li>
            </ul>
          </nb-alert>
          <nb-alert *ngIf="successMessage" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
              <li * class="alert-message">{{ successMessage }}</li>
            </ul>
          </nb-alert>
        </nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="addNewUser()" [formGroup]="registrationForm" aria-labelledby="title"
            [nbSpinner]="loadingIndicator" nbSpinnerStatus="danger">
            <div class="form-control-group">
              <label class="label" for="input-name">Full name:</label>
              <input nbInput id="input-name" name="fullName" class="form-control" placeholder="Full name"
                formControlName="fullName" fullWidth required>
              <label class="text-danger"
                *ngIf="registrationForm.controls['fullName'].errors.required && registrationForm.controls['fullName'].touched">Full
                name
                is required</label>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-email">Email address:</label>
              <input nbInput formControlName="email" class="form-control" id="input-email" name="email"
                pattern=".+@.+..+" placeholder="Email address" fullWidth required>
              <label class="text-danger"
                *ngIf="registrationForm.controls['email'].errors.email && registrationForm.controls['email'].touched">Email
                is not valid</label>
              <label class="text-danger"
                *ngIf="registrationForm.controls['email'].errors.required && registrationForm.controls['email'].touched">Email
                is required</label>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-password">Password:</label>
              <input nbInput formControlName="password" class="form-control" type="password" id="input-password"
                name="password" placeholder="password" fullWidth required>
              <label class="text-danger"
                *ngIf="registrationForm.controls['password'].errors.required && registrationForm.controls['password'].touched">Email
                is required</label>
              <label class="text-danger"
                *ngIf="registrationForm.controls['password'].errors.minLenght && registrationForm.controls['password'].touched">Minimum
                6 characters required</label>

            </div>
            <div class="form-control-group">
              <label class="label" for="input-re-password">Repeat password:</label>
              <input nbInput formControlName="passwordConfirm" class="form-control" type="password"
                id="input-re-password" name="rePass" placeholder="Confirm Password" fullWidth required>
              <label class="text-danger"
                *ngIf="registrationForm.controls['passwordConfirm'].errors.required && registrationForm.controls['passwordConfirm'].touched">Email
                is required</label>
            </div>
            <div class="row" class="submit-btn">
              <button nbButton fullWidth status="success">
                Register
              </button>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>