<div class="row">
  <div class="col-sm-12">
    <div class="input-container">
      <i class="fa fa-search icon"></i>
      <input class="input-field" type="text" placeholder="Search warehouse" name="search">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <ngx-warehouses-list></ngx-warehouses-list>
    </div>
    <div class="col-sm-4">
      <ngx-warehouses-list></ngx-warehouses-list>
    </div>
    <div class="col-sm-4">
      <ngx-warehouses-list></ngx-warehouses-list>
    </div>
    <div class="col-sm-4">
      <ngx-warehouses-list></ngx-warehouses-list>
    </div>
    <div class="col-sm-4">
      <ngx-warehouses-list></ngx-warehouses-list>
    </div>
    <div class="col-sm-4">
      <ngx-warehouses-list></ngx-warehouses-list>
    </div>

  </div>