<div class="row">
  <div class="col-sm-12">
    <nb-card class="width-card">
      <nb-card-header class="row-with-btns">
        <p>Basket</p>
        <select [(ngModel)]="selectedCatalogType" (change)="onSelectTypeChange()" style="width: 100px;"
          class="form-control" (change)="onSelectTypeChange()">
          <option *ngFor="let type of catalogTypeList" [ngValue]="type"> {{type.name}}</option>
        </select>
        <i class="fas fa-times-circle close-icon fa-2x" (click)="close()"></i>
        <!-- <nb-select (selectedChange)="onSelectTypeChange($event)" [(ngModel)]="catalogFiltrator.catalogTypeId"
          placeholder="Katalogu TIPI">
          <nb-option [value]="type.id" *ngFor="let type of catalogTypeList">
            {{type.name}}
          </nb-option>
        </nb-select> -->

      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>