.row-with-btns {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.padding {
  padding-right: 50px;
}
  .close-icon {
      color: red;
    &:hover {
        cursor: pointer;
      }
  }

  .type-icon {
    color: dodgerblue;
  &:hover {
      cursor: pointer;
    }
}