<nb-card [nbSpinner]="loadingIndicator" nbSpinnerStatus="danger">
  <nb-card-header class="header text-center">
    <h2>Paroles maiņas forma</h2>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="editPasswordForm">
      <div class="form-group">
        <label for="newPassword">Jauna parole</label>
        <input type="text" class="form-control" id="newPassword" placeholder="Jauna parole"
          formControlName="newPassword">
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button nbButton type="submit" status="success" class="btn btn-danger "
            (click)="changePassword()">Apstiprināt</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center close-button">
          <button nbButton outline status="danger" (click)="close()">
            Aizvērt
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>